body{

	font-family: "Droid Sans", sans-serif;

}

h1 {

	text-align: center;
}

.Banner{

	text-align: center;
	vertical-align: middle;
	background-color: #ff9900;
	width: 33%;
	height: 64px;

}

#Banner_Left{

	border-bottom-left-radius: 14px;
	border-top-left-radius: 14px;
	float: left;

}

#Banner_Middle{

	float: left;
}

#Banner_Right{
	border-bottom-right-radius: 14px;
	border-top-right-radius: 14px;
	float: left;

}



.Navigation_Link{

	font-size: 2.7em;
	vertical-align: middle;
}

#text{
	
	width: 85%;
}